body{
    margin: 0;
    background-color: lightgray;
}

header{
display: flex;
justify-content: center;
align-items: center;
height: 200px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 36pt;
    font-weight: bold; 
    font-family: sans-serif;
}

#piada{
    widows: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acoes{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: black;
    color: white;
    border: none;
    transform: scale(1.5);
    margin: 0 20px; 
    
}


